@import url("https://fonts.googleapis.com/css2?family=Geist+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@300;400;500&display=swap");

@font-face {
  font-family: "GeneralSans";
  src: url("../GeneralSans-Regular.otf");
}

:root {
  /* Colours */
  --white: #ffffff;
  --black: #000000;
  --grey-text: #92929e;
  --grey-dark: #b6b6bb;
  --grey-light: #e6e6ee;
  --yellow: #f4e9e0;
  --green: #d2e9ec;
  --pink: #e5d8e5;
  --blue: #c7c7ea;

  /* Typography */
  --font: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;

  /* Borders */
  --border-primary: 1px solid var(--black);
  --border-secondary: 1px solid var(--grey-light);
  --border-input: 1px solid var(--grey-dark);
}

body {
  font-family: var(--font);
  margin: 0 0 0 250px;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 0;
  color: var(--black);
}

h2,
h3,
h4 {
  font-weight: normal;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a.project-button {
  font-size: 1.17em;
  background-color: var(--black);
  display: inline-flex;
  border-radius: 50px;
  color: var(--white);
  padding: 10px 20px;
  text-decoration: none;
}

a.project-button:hover {
  background-color: var(--grey-light);
  color: var(--black);
  cursor: pointer;
}

.navbar {
  background-color: var(--white);
  border-right: var(--border-primary);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 40px;
  font-family: var(--font);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  box-sizing: border-box;
  z-index: 100;
}

.navbar-brand {
  font-weight: normal;
  text-decoration: none;
  color: var(--black);
  display: flex;
  font-size: 24px;
  margin: 0;
  transition: filter 0.2s ease;
}

.navbar-brand:hover {
  filter: blur(2px);
}

.navbar-brand h1 {
  font-size: 32px;
  margin: 0;
  transition: filter 0.3s ease;
}

.navbar-brand h1:hover {
  filter: blur(2px);
}

.navbar-items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* Take full height */
  width: 100%;
  gap: 20px;
}

.navbar-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--grey-text);
  font-size: 24px;
}

.nav-link:hover {
  color: var(--black);
  transition: color 0.3s ease;
}

.nav-link.active {
  color: var(--black);
  position: relative;
}

/* Optional: Add an indicator dot or line */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.content-wrapper img {
  width: 100%;
  max-width: 500px;
}

#intro {
  background: var(--white);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

#intro .content h1 {
  color: var(--black);
  letter-spacing: -1px;
  font-size: 32px;
}

.link {
  color: var(--black);
  text-decoration: none;
}

.section-title {
  padding: 0;
}

/******************* Background section ******************/

#background {
  border-top: var(--border-primary);
  border-bottom: var(--border-primary);
  padding: 15rem 0;
}

.experience-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.company-badge {
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-light);
  padding: 20px;
  border-radius: 100px;
}

.experience-duration {
  color: var(--grey-text);
  font-size: 24px;
}

/******************* Projects section ******************/

#projects {
  padding: 10rem 4rem;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* center the section */
  gap: 12rem;
}

.project-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
}

.right {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1201px) {
  .project-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}

.project-content-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  text-align: right;
}

.project-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: right;
}

@media screen and (max-width: 1201px) {
  .project-content-left,
  .project-content-right {
    flex-direction: column;
    align-items: center;
    gap: 0rem;
  }
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img img {
  display: flex;
  max-width: 100%;
  border-radius: 20px;
}

.arrow-up {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 5px;
}

.project-title {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: -1px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .project-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-content-left,
  .project-content-right {
    align-items: center;
    text-align: center;
  }
}

.project-subtitle {
  font-weight: 400;
  font-size: 20px;
  color: var(--grey-text);
  letter-spacing: -0.5px;
}

#about {
  padding: 15rem 2rem;
  margin: 0 auto; /* center the section */
  border-bottom: var(--border-primary);
  border-top: var(--border-primary);
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 25rem;
  padding: 15rem 2rem;
  max-width: 800px;
  margin: 0 auto; /* center the section */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-content {
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  display: flex;
  width: 100%;
  gap: 1rem; /* space between buttons */
  padding-bottom: 4rem;
}

.toggle-button {
  position: relative;
  font-size: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  align-items: center; /* center text + underline */
}

.button-content {
  position: relative; /* keeps text above underline if needed */
  z-index: 1;
}

.underline-svg {
  width: 90%;
  height: auto;
  margin-top: 8px;
}

.underline-svg path {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 1000; /* total path length */
  stroke-dashoffset: 1000; /* hidden initially */
  transition: stroke-dashoffset 0.6s ease;
}

/* Hover animation: draw underline */
.toggle-button:hover .underline-svg path {
  stroke-dashoffset: 0;
}

/* Active button: underline stays drawn */
.toggle-button.active .underline-svg path {
  stroke-dashoffset: 0;
}

.toggle-button.active .toggle-text {
  color: var(--black);
}

.toggle-button:not(.active) .toggle-text {
  color: var(--grey-text);
}

.toggle-button:not(.active) .toggle-text:hover {
  color: var(--black);
}

.toggle-button:not(.active) .underline-svg path {
  stroke-dashoffset: 1000;
}

.hidden {
  display: none;
}

button[type="submit"] {
  width: 100px;
}

footer {
  background-color: var(--white);
  border-top: var(--border-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
  color: var(--black);
}

.project-page-title {
  font-weight: 400;
  font-size: 32px;
  color: var(--grey-text);
  letter-spacing: -1px;
}

.nav-project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* Take full height */
  width: 100%;
}

.project-description {
  padding: 20px 40px;
}

.text-link {
  color: var(--grey-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

figure {
  margin: auto;
  margin-bottom: 20px;
  max-width: 650px;
}

.figure-img {
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 100%;
}

.shadow-img {
  border-radius: 20px;
  max-width: 100%;
}

.code-snippet {
  max-width: 100%;
}

.img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  max-width: 100%;
  overflow: clip;
}

.microinteraction {
  border-radius: 20px;
  max-height: 150px;
  margin-right: 5px;
}

.sketch-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  margin: 20px 0;
}

.sketch {
  max-width: 100%;
  max-height: 500px;
}

.fg-sketch-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  margin: 20px 0;
}

.pitch-container {
  margin: auto;
}

figcaption {
  color: var(--grey-text);
}

@media screen and (max-width: 1200px) {
  #contact,
  #about,
  #projects,
  #background,
  #intro {
    padding: 5rem 5rem;
    margin: 0;
  }

  #projects,
  #contact {
    gap: 8rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  .navbar {
    padding: 10px 20px;
  }

  .content {
    flex-direction: column;
  }

  #intro img {
    margin-top: 50px;
    margin-left: 0;
  }

  .project-img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-bottom: 20px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  #contact,
  #about,
  #projects,
  #background,
  #intro {
    padding: 2rem 2rem;
    margin: 0;
  }

  #projects,
  #contact {
    gap: 4rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 9rem 3rem;
    gap: 1rem;
  }
}

.special-text {
  color: var(--grey-text);
}

.status-indicator {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
}

.status-indicator::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-color: #34b862;
  border-radius: 50%;
  margin-right: 8px;
  z-index: 2;
}

.status-indicator::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  background-color: #34b862aa;
  border-radius: 50%;
  z-index: 1;
  animation: pulse 3s infinite;
}

.status-text {
  font-size: 20px;
  margin-left: 10px;
}

.text-link:hover {
  color: var(--black);
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-50%) scale(2);
    opacity: 0.3;
  }
  100% {
    transform: translateY(-50%) scale(2);
    opacity: 0;
  }
}

.hehe {
  color: var(--grey-text);
}
