:root {

    /* Colours */
    --white: #F7F7FF;
    --black: #1D1B26;
    --grey-dark: #B6B6BB;
    --grey-light: #E6E6EE;
    --yellow: #F4E9E0;
    --green: #D2E9EC;
    --pink: #E5D8E5;
    --blue: #c7c7ea;


    /* Typography */
    --font: "General Sans", sans-serif;

    /* Borders */
    --border-primary: 1px solid var(--black);
    --border-secondary: 1px solid var(--grey-light);
}

body {
    background-color: var(--white);
    margin: 0;
    font-family: var(--font);
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h2 {
    font-size: 20px;
}

.navbar {
    background-color: var(--white);
    border-bottom: var(--border-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-family: var(--font);
    color: var(--black);
}

.navbar-brand {
    font-weight: normal;
    text-decoration: none;
    color: var(--black);
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--black);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.content-wrapper img {
    width: 100%;
    max-width: 500px;
}

#home {
    background: radial-gradient(ellipse at bottom right, var(--green), var(--yellow) 20%, var(--pink) 70%, var(--blue));
    height: 100vh; /* Set the height to the viewport height */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center;
    padding: 0 20px;;
}

#home .content h2 {
    max-width: 80%; /* Limit the width of the text to 80% of the parent container */
    margin: 0 auto; /* Center the text horizontally */
    flex: 1;
}

#home img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 1px var(--grey-dark);
    margin-left: 50px;
}

.section-title {
    padding: 20px 40px;
}

#projects {
    padding: 0 -100px;
}

.project-wrapper {
    border-bottom: var(--border-secondary);
}

.project {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    padding: 4rem;
}

.project-content{
    grid-column: 1 / 2;
}

.project-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    width: 100%;
    max-width: 300px;
}

.project-button {
    background-color: transparent;
    border: 1px solid var(--black);
    border-radius: 50px;
    color: var(--black);
    padding: 10px 20px;
}

.project-button:hover {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.project-button:hover svg path {
    fill: var(--white); /* Change the color to the desired hover color */
}

.arrow-up {
    width: 16px; /* change this value to adjust the width of the icon */
    height: 16px; /* change this value to adjust the height of the icon */
    vertical-align: middle;
    margin-left: 5px; /* change this value to adjust the spacing between the icon and the button text */
}

.project-title {
    font-weight: 500;
}

.project-subtitle {
    padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    .navbar {
        padding: 10px 20px;
    }

    .content {
        flex-direction: column;
    }

    #home img {
        margin-top: 50px;
        margin-left: 0;
    }

    .section-title {
        padding: 10px 20px;
    }

    .project-img {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        margin-bottom: 20px;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .project {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
        padding: 2rem;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .project-content {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
}